* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

@font-face {
  font-family: Rowdies;
  src: url(../fonts/Rowdies/Rowdies-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: MontserratItalic;
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}
